.main{
    margin:0px;
    margin-left:280px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.prop{
    min-height:100vh;
}
@media only screen and (max-width:1000px){
   
    .main{
        margin-left: 0;
    }

   
}


 @media only screen and (max-width:315px)
 {
     .main{
         display: block;
     }

 }
  
